<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <script src="js/additional/jquery-1.12.1.js"></script>
    <script src="js/additional/jquery-1.12.4.js"></script>
    <script src="js/additional/popper.min.js"></script>
    <link rel="stylesheet" href="css/navigation.css">

</head>
<body>

  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href=""><img src="images/logo.png" height="90" weight="90">&nbsp;<span style="font-size: 2em"></span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  <br />
</div>
