<hr />
<form>
    <div class="form-group">
        <!--suppress XmlInvalidId -->
        <label for="Name" class="col-sm-7 col-form-label">Name</label>
        <div class="col-sm-7">
            <input type="text" id="txtName" class="form-control">
            <small id="errorName" class="text-danger"></small>
        </div>
    </div>

    <div class="form-group">
        <!--suppress XmlInvalidId -->
        <label for="contact" class="col-sm-7 col-form-label">Contact details</label>
        <div class="col-sm-7">
            <input type="text" id="txtContact" class="form-control">
            <small id="errorContact" class="text-danger"></small>
        </div>
    </div>

    <div class="form-group">
        <!--suppress XmlInvalidId -->
        <label for="alternativeContact" class="col-sm-7 col-form-label">Alternative Contact</label>
        <div class="col-sm-7">
            <input type="text" id="txtAlternativeContact" class="form-control">
            <small id="errorAlternativeContact" class="text-danger"></small>
        </div>
    </div>


    <div class="form-group">
        <!--suppress XmlInvalidId -->
        <label for="additionalContact" class="col-sm-7 col-form-label">Web Address</label>
        <div class="col-sm-7">
            <input type="text" id="txtWebAddress" class="form-control">
            <small id="errorMessage" class="form-text text-muted">If organisation does not have a web address, use facebook, twitter or type "n/a".</small>
            <small id="errorWebAddress" class="text-danger"></small>
        </div>
    </div>
</form>
